#chatbox{
	z-index: 9;
	position: absolute;

	width: 90vw;
	right: 5vw;

	display:flex;
	flex-direction: column;
}

@media (min-width: 320px) {
	#chatbox {
		width: 288px;
		right: 50%;
		margin-right: -144px;
	}
}

@media (min-width: 481px) {
	#chatbox {
		width: 346px;
		right: 50%;
		margin-right: -173px;
	}
}

@media (min-width: 768px) {
	#chatbox {
		width: 384px;
		right: 50%;
		margin-right: -192px;
	}
}

@media (min-width: 992px) {
	#chatbox {
		width: 480px;
		right: 50vw;
		margin-right: -240px;
	}
}

#chatbox-header {
	z-index: 10;
	cursor: grab;

	text-align:center;
}

.messages{
	height: 25vh;
	overflow-y: scroll;
}

#chatbox button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;

	padding-left: 5px;
	padding-right: 5px;
}

.message {
	padding-top:1px;
	padding-bottom:1px;
	padding-left:3px;
	padding-right:3px;
}
.date {
	text-align: center;
	margin: 0.3rem;
}
.date-string {
	border-radius: 0.4rem;
	padding: 0.3rem;
}
.message > span {
	padding-left: 5px;
	padding-left: 5px;
}
.typing_area {
	display: flex;
	justify-content: center;
}

.chat-msg-username {
	color: green;
}
.admin-user {
	color: darkgreen !important;
}
.local {
	color: gray !important;
}
.chat-msg-username:after {
	content: ": ";
}
.chat-msg-time {
	float: right;
	color: green;
	font-size: 12px;
	top: 2px;
}

::-webkit-scrollbar {
	background-color: transparent;
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
	width: 10px;
}
.messages:hover::-webkit-scrollbar-thumb{
	width:6px;
	background-color: #414451;
}  
body:hover::-webkit-scrollbar-thumb {
	width:6px;
	background-color: #414451;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #414451;
}
