<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TicTacToe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
    <div class="navbar navbar-dark bg-dark navbar-expand">
      <div class="collapse navbar-collapse">
    <a class="navbar-brand" href="index.php">TicTacToe</a>
        <div class="navbar-nav ms-auto">
          <div class="nav-item dropdown">
            <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Login</button>
			<div class="dropdown-menu dropdown-menu-end px-3">
              <form action="api/login.php" method="post">
                <div class="form-group mb-3">
                  <input name="username" type="text" placeholder="Enter Username" class="form-control">
                </div>
                <div class="form-group mb-3">
                  <input name="password" type="password" placeholder="Password" class="form-control">
                </div>
				<div class="d-flex justify-content-center">
                  <input type="submit" value="Login" class="btn btn-primary">
				</div>
              </form>
            </div>
          </div>
          <div class="nav-item dropdown">
            <button class="nav-link text-white" data-bs-toggle="dropdown">Register</button>
			<div class="dropdown-menu dropdown-menu-end px-4 w-200">
              <form action="api/register.php" onsubmit="return validateForm()" method="post">
                <div class="form-group mb-2">
                  <input name="username" type="text" placeholder="Username" class="form-control">
                </div>
                <div class="form-group mb-2">
                  <input name="password" type="password" placeholder="Password" class="form-control">
                </div>
                <div class="form-group mb-2">
                  <input name="confirmation" type="password" placeholder="Confirm Password" class="form-control">
                </div>
				<div class="d-flex justify-content-center">
                  <input type="submit" value="Register" class="btn btn-primary">
				</div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/index-btns.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>
