<div id="popup-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Disconnected</h5>
      </div>
      <div class="modal-body">
        <p>You have been disconnected due to inactivity.</p>
      </div>
      <div class="modal-footer">
        <button id="popup-button" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
